/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define FN 3




/ {
        conditional_layers {
            compatible = "zmk,conditional-layers";
        
            tri_layer {
                if-layers = <LOWER RAISE>;
                then-layer = <FN>;
            };
        };
        behaviors {
                shift_td: shift_td {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <250>;
                        bindings = <&kp LSHIFT>, <&kp CAPS>;
                };

                dot_colon: dot_colon {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <250>;
                        bindings = <&kp DOT>, <&kp COLON>;
                };
        };

        combos {
            compatible = "zmk,combos";
                timeout-ms = <30>;
                require-prior-idle-ms = <30>;

            // U + I => (
            combo_paren_l {
                bindings = <&kp LPAR>;
                key-positions = <7 8>;
            };
        
            // I + O => )
            combo_paren_r {
                bindings = <&kp RPAR>;
                key-positions = <8 9>;
            };
        
            // J + K => [
            combo_bracket_l {
                bindings = <&kp LBKT>;
                key-positions = <19 20>;
            };
        
            // K + L => ]
            combo_bracket_r {
                bindings = <&kp RBKT>;
                key-positions = <20 21>;
            };
        
            // M + , => {
            combo_brace_l {
                bindings = <&kp LBRC>;
                key-positions = <31 32>;
            };
        
            // , + . => }
            combo_brace_r {
                bindings = <&kp RBRC>;
                key-positions = <32 33>;
            };

            // z + x => backspace
                combo_backspace {
                bindings = <&kp BSPC>;
                key-positions = <25 26>;
                };

            // x + c => delete
                combo_delete {
                bindings = <&kp DEL>;
                key-positions = <26 27>;
                };

            // v + b => enter
                combo_enter {
                bindings = <&kp RET>;
                key-positions = <28 29>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  | || |  Y  |  U   |  I  |    O    |  P  |  BKSP   |
// | ESC  |  A  |  S  |  D  |  F  |  G  | || |  H  |  J   |  K  |    L    |  ;  |   '     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  | || |  N  |  M   |  ,  |dot_colon|  /  | shift_td|
//                    | GUI | LWR | SPC | || | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB     &kp Q   &kp W   &kp E   &kp R          &kp T  /**/   &kp Y  &kp U         &kp I      &kp O       &kp P      &kp BSPC
   &kp ESC     &kp A   &kp S   &kp D   &mt LSHIFT F   &kp G  /**/   &kp H  &mt LSHIFT J  &kp K      &kp L       &kp SEMI   &kp SQT
   &kp LCTRL   &kp Z   &kp X   &kp C   &kp V          &kp B  /**/   &kp N  &kp M         &kp COMMA  &dot_colon  &kp FSLH   &shift_td
                  &kp LGUI &mo LOWER &kp SPACE   &kp RET &mo RAISE &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |  ||  |  6  |  7  |  8  |  9  |    -    | BKSP |
// | ESC  |     | LFT | DWN | UP  | RGT |  ||  |  *  |  4  |  5  |  6  |    +    |  =   |
// |LCTRL |     |     |     |     |     |  ||  |  /  |  1  |  2  |  3  |dot_colon|LSHIFT|
//                    | GUI |     | SPC |  ||  | ENT |     |  0  |
                        bindings = <
   &kp TAB    &kp N1     &kp N2       &kp N3       &kp N4       &kp N5      /**/    &kp N6    &kp N7    &kp N8   &kp N9    &kp MINUS    &kp BSPC
   &kp ESC    &trans     &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT   /**/    &kp ASTRK &kp N4    &kp N5   &kp N6    &kp PLUS     &kp EQUAL
   &kp LCTRL  &trans     &trans       &trans       &trans       &trans      /**/    &kp FSLH  &kp N1    &kp N2   &kp N3    &dot_colon   &kp LSHIFT
                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp N0
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  | ||  |  ^  |  &  |  *  |  (  |  )  | DEL  |
// | ESC  |     |     |  :  |  "  |     | ||  |  -  |  =  |  [  |  ]  |  \  |  `   |
// |LCTRL |     |     |  <  |  >  |     | ||  |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC | ||  | ENT |     | ALT |
                        bindings = <
   &kp TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT /**/  &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp DEL
   &kp ESC  &trans   &trans &kp COLON &kp DQT  &trans  /**/    &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LCTRL &trans  &trans &kp LT   &kp GT   &trans  /**/    &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LGUI &trans   &kp SPACE /**/  &kp RET   &trans    &kp RALT
                        >;
                };

                fn_layer {
// ----------------------------------------------------------------
// |     | F1  | F2  | F3  | F4  | F5  | ||  | F6  | F7  | F8  | F9 | F10  | F11 |
// |     |     |     |     |     |     | ||  |     |     |     |     |     | F12 |
// |     |     |     |     |     |     | ||  |     |     |     |     |     |PSCRN|
//               |     |     |     |   | ||  |     |     |
        bindings = <
  &trans &kp F1 &kp F2 &kp F3 &kp F4 &kp F5      &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
  &trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &kp F12
  &trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &kp PSCRN
                     &trans &trans &trans        &trans &trans &trans
                        >;
                };
        };
};
